@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Ubuntu&display=swap');

a {
    text-decoration: none;
}

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

/* header and logo */

header {
    background-color: #ffffff;
    width: 100%;
}

#logo {
    font-family: "Josefin Sans", sans-serif;
    color: #DAAD86;
    font-size: 70px;
    margin: 30px 0 1px 30px;
    float: left;
}

#logo-bottom {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #659dbd;
    clear: both;
    margin: 1px 0 30px 35px;
}

/* menu with links */

#menu {
    background-color: #DAAD86;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 5px 50px;
    background-color: #DAAD86;
    color: #ffffff;
    font-size: 20px;
}

/* section area with film*/

.main-content{
    background-image: url(../images/editing.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(85, 122, 149, 0.9);
    width: 100%;
    color: #ffffff;

}
#video-div {padding: 100px 0 40px 0;
            display: grid;
            margin: 0 auto;
            place-items: center;
            }

#index-video {
    background-color: transparent;
    border: 4px solid white;
    max-width: 100%;
    width: 700px;
}

#presentation {
    max-width: 100%;
    text-align: center;
    padding-bottom: 30px;
    color: #ffffff;
}


/* footer */

.footer {
    margin-top: 3px;
    width: 100%;
    padding: 5px 0;
    display:flex;
    font-family: "Ubuntu", sans-serif;
}

.footer div {text-align: left;
margin: 0 auto;}

/* contact-form */

#form-div {
    padding: 90px 115px ;
}

#contact-form {
    margin: 0 auto;
    max-width: 30%;
}

#email {
    text-align: left;
    margin: 10px;
}

#contact {
    margin: 10px;
}

#send {
    background-color: #DAAD86;
    margin: 10px;
    padding: 5px 10px;
}

/* film-page */

#films {
    margin: 0;
    padding: 50px;
    height: 800px;
}

hr {clear: both;
    margin-bottom:30px;}

.film-flex {
     display: flex;
     max-width: 80%;
     margin: 0 auto;
     flex-wrap: wrap;
    }

    .all-films {
        margin: 33px;

    }

.film-h2 { padding: 20px 50px;
    margin: 0;
}

/* color-change for the link of the page showing. */

#home-link {background-color: #e2c7b0;}
#films-link {background-color: #e2c7b0;}
#contact-link {background-color: #e2c7b0;}


/* media queries */

/* for screens 1440px and down */

@media screen and (max-width: 1470px){

    #film2, #film4{
       float: none;
    }
}

/* for screens 1024px and down */

@media screen and (max-width: 1024px){

#form-div {
    padding: 30px 1px;
    margin: 0px;
    max-width: 100%;
}
#contact-form {
    margin: 0 auto;
    max-width: 500px;
}
}

/* for smaller screens 500px and down */

@media screen and (max-width: 500px){
    li a {
        display: block;
        padding: 5px 25px;
        background-color: #DAAD86;
        color: #ffffff;
        font-size: 16px;
    }   
    .footer {
            font-size: 12px;
    }

    #presentation {
        font-size: 14px;
    }

    #form-div {
        padding: 1px 1px;
        margin: 0px;
        max-width: 100%;
    }

    #contact-form {
        margin: 0 auto;
        max-width: 300px;
    }

    #contact {
            height: 20em;
            width: 15em;
            margin: 10px;
        }
    }
}